   
<section>
<div class="banner">
    <div class = "banner-img">
        <%= image_tag  "two.jpg" %>
    </div>

    <div class="banner-title">
        <h1>Werify </h1>
        <h1>Networks</h1>
    </div>
</div>
</section>


<section class = "weri-new">
    <div class="container">
        <div class="weri-box">
            <div class="title-style text-center">
            <h1>New Trends</h1>
            </div>
            <p class="text-center">
            She lives to see the century turn. She lives still.
It’s a Saturday morning in early March, and her grandson Michel collects
her from her flat and walks her through the Jardin des Plantes. Frost glimmers
in the air, and Marie-Laure shuffles along with the ball of her cane out in front
and her thin hair blown to one side and the leafless canopies of the trees
drifting overhead as she imagines schools of Portuguese men-of-war drift,
trailing their long tentacles behind them.
            </p>
        </div>
    </div>
</section>